<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 

<body class="carga-de-producto">
    <h1>Carga de Producto</h1>
    <div class="volver">
        <a href="/productos"> << Volver a productos</a> <a href="/">Ir a Home >></a>

    </div>
    <main class="carga">
        <form action="/productos/carga" method="POST" enctype="multipart/form-data" class="form"> 
            <div>
                <input type="text" id="nombreProducto" name="nombre" placeholder="Nombre de Producto"
                 value="<%=locals.old && old.nombre? old.nombre :null %>">
                 <span class="error-carga"><%= locals.errores && errores.nombre ? errores.nombre.msg : null %></span>

            </div>
            <div>
                <label for="imagen">Imagen</label>
                <input type="file" name="imagen" id="imagenProducto" value="<%= locals.old && old.imagen? old.imagen:null %>">
                   <span class="error-carga"><%= locals.errores && errores.imagen ? errores.imagen.msg : null %></span>

            </div>
            <div>
                <label for="pecio">Precio</label>
                <input type="number" name="precio" id="precioProducto" value="<%= locals.old && old.precio? old.precio:null%>">
                  <span class="error-carga"><%= locals.errores && errores.precio ? errores.precio.msg : null %></span>

                <input type="text" name="marca" id="marcaProducto" placeholder="marca" value="<%= locals.old && old.marca? old.marca:null %>">
                 <span class="error-carga"><%= locals.errores && errores.marca ? errores.marca.msg : null %></span>
                      <!-- <input type="number" name="id" id="idProducto" placeholder="id">  -->           
            </div>
            <div>
                <label for="descripcion">Descripción del producto</label>
                <textarea name="descripcion" id="descripcion" cols="8" rows="3" placeholder="Escribir..." ><%= locals.old && old.descripcion ? old.descripcion : null %></textarea>
                 <span class="error-carga"><%= locals.errores && errores.descripcion ? errores.descripcion.msg : null %></span>
            </div>
            <div>
                <label for="categoria">Categoría</label>
                <select name="categoria">
                    <option value="" selected hidden>Seleccione la categoría</option>
                    <% categorias.forEach(rubro => { %>
                        <option value="<%= rubro %>"<%= locals.old && old.categoria===rubro ? 'selected' :null%> ><%= rubro %></option> 
                    <% }) %>
                  </select>
                  
                  <span class="error-carga"><%= locals.errores && errores.categoria ? errores.categoria.msg : null %></span>
                   
            </div>
            <button type="submit">Publicar</button>
        </form>
    </main>
</body>
</html>