<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')  %> 

<body>
     <%- include('./partials/header')  %>
    <% if (productofinal) { 
        let array=[]
        array.push(productofinal)
        %>
        <% array.forEach(productofinal => { %>
    
        
            <div class="carrito">
                
                <section class="carrito-encabezado">
                    <div class="carrito-encabezado-titulo">
                        <h1>Carrito de compras-productos torre marvel</h1>
                    </div>
                    <div class="carrito-encabezado-titulo-button1">
                        <button>PROCEDER A LA COMPRA</button>
                    </div>
                </section>
                <main>
                    <article class="carrito-main-article">
                        <div class="carrito-main-producto">
                            <div class="carrito-main-producto-imagen"><img src="/images/merchandinsing/<%= productofinal.imagen %> " alt=""></div>
                            <div class="carrito-main-producto-descripcion">
                                <div>
                                    <h2><%= productofinal.marca %></h2>
                                    <p id="nombrecito"><%= productofinal.nombre %> </p>
                                    <p>Entregado por Torre Marvel</p>
                                    <p><%= productofinal.descripcion %></p>
                                </div>
                                <div>
                                    <p><a href="">Eliminar producto</a> </p>
                                </div>
                            </div>
                        </div>
                        <div class="carrito-main-article-precio">
                            <div class="carrito-main-article-precio-subrayado">
                                <p>Precio unitario:</p>
                                <Span>$<%= productofinal.precio %></Span>
                            </div>
                        </div>
                    </article>
                
        
        
                    <section class="carrito-facturacion">
                        <div class="carrito-facturacion-tarjetas">
                            <div class="carrito-facturacion-tarjetas-descuento">
                                <h3>Codigo de descuento</h3>
                                <form action=""><input type="text" placeholder="Ingrese codigo"></form>
                            </div>
                            <div class="carrito-facturacion-tarjetas-descuento-imagen">
                                <img src="/images/tarjetas.PNG" alt="">
                            </div>
                        </div>
        
                        <div class="carrito-facturacion-cobro">
                            <div class="carrito-facturacion-cobro-subtotal">
                                <p>Subtotal</p>
                                <span>$<%= productofinal.precio %></span>
                            </div>
                            <div class="carrito-facturacion-cobro-total-general">
                                <div class="carrito-facturacion-cobro-total-general-i">
                                    <span class="carrito-facturacion-cobro-total-general-i-precio">Total</span>
                                    <span>$<%= productofinal.precio %></span>
                                </div>
        
                                <div class="carrito-facturacion-cobro-total-general-cuotas">
                                    <a href="">Ver cuotas</a>
                                    <h6>IVA incluido</h6>
                                </div>
                            </div>
                        </div>
                        <div class="carrito-encabezado-titulo-button2">
                        <button>PROCEDER A LA COMPRA</button>
                    </div>
                    </section>


           
                            <% }) %>

    <% } else { %>
        <div class="carrito">
            <section class="carrito-encabezado">
                <div class="carrito-encabezado-titulo">
                    <h1>Carrito de compras-productos torre marvel</h1>
                </div>
             
            </section>
            <main>
                <article class="carrito-main-article">
                    <div class="carrito-main-producto">
                        <div class="carrito-main-producto-imagen"><img src="/images/merchandinsing/error.png " alt=""></div>
                        <div class="carrito-main-producto-descripcion">
                            <div>
                                <p>No hay productos en tu carrito </p>
                            </div>
                          
                        </div>
                    </div>
                    <div class="carrito-main-article-precio">
                        <div class="carrito-main-article-precio-subrayado">
                        </div>
                    </div>
                </article>
               
    
    
                <section class="carrito-facturacion">
                    <div class="carrito-facturacion-tarjetas">
                        <div class="carrito-facturacion-tarjetas-descuento">
                            <h3>Codigo de descuento</h3>
                            <form action=""><input type="text" placeholder="Ingrese codigo"></form>
                        </div>
                        <div class="carrito-facturacion-tarjetas-descuento-imagen">
                            <img src="/images/tarjetas.PNG" alt="">
                        </div>
                    </div>
    
                    <div class="carrito-facturacion-cobro">
                        
                        
                    </div>
                    <div class="carrito-encabezado-titulo-button2">
                    <button>PROCEDER A LA COMPRA</button>
                </div>
                </section>  
                <% } %>
               
        </main>
    </div>

    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>
</body>

</html>

