<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


<body class="quizz">
    <div class="fondo2"></div>

 
    <%- include('./partials/header') %>



    <% comics.forEach(comics => { %>
        <div class="productostotales">
        <article class="cadadestacado2">
            <a href="/productos/detail/<%= comics.id %> "><img  class="cadadestacado2" src="/images/merchandinsing/<%=comics.imagen%> " alt=""></a>
            <div class="titulodestacado2">
            <h3><%= comics.nombre %> </h3>
            <P><%= comics.descripcion %></P>
            </div>

        </article>
    </div>

    <% }) %>
               
             
              









    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>
