<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <%- include('./partials/carrousel') %>
        <%- include('./partials/menuVentas') %>

          <main class="contactito">
            <div class="cartita">

              <form class="contacto"   action="https://formspree.io/f/mvodwbop"
              method="POST">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" name="email"
                      placeholder="laviudanegra@gmail.com" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre completo</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" name="Nombre"
                      placeholder="NoSoyBatman Nirobin" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Apellido</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" name="Apellido" placeholder="Rodriguez">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Numero de telefono (opcional)</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputEmail3" name="Numero" placeholder="123...456?">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Pais (opcional)</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" name="pais" placeholder="Wakanda">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Genero</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" name="Genero"
                      placeholder="Expresanos como te identificas">
                  </div>
                </div>
                <div class="form-group ">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Dejanos tu mensaje</label>
                  <div class="col-sm-10">
                    <textarea rows="12" col="1" type="text" class="form-control jaja textarea2" name="mensaje"
                      id="inputPasswor"> </textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Enviarlo a la torre stark</button>
                  </div>
                </div>
              </form>


            </div>
            <div class="imagendecontacto">
              <img src="../images/580b57fbd9996e24bc43c017.png" alt="">
            </div>


          </main>
          <%- include('./partials/footer') %>

            <%- include('./partials/scripts') %>



  </body>

</html>