<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <main class="descripcion-producto">
      <article class="producto-article">
        <div class="producto-article-imagen">
          <p>inicio>Marvel>Spiderman><%= productofinal.nombre %></p>
          <img src="/images/merchandinsing/<%= productofinal.imagen %>" />
        </div>
        <div class="producto-article-cont-descripcion">
          <div class="producto-article-cont-descripcion1">
            <div class="textodescripcion">
              <h4><%= productofinal.marca %></h4>
              <h6><%= productofinal.nombre %> </h6>
              <h5><%= productofinal.descripcion %></h5>
            </div>

            <div>
              <span>$<%= productofinal.precio %></span>
              <p>Ver cuotas</p>
            </div>
          </div>
          <div class="producto-article-cont-descripcion-comprar">
            <button class="producto-article-cont-descripcion-comprar-button">
              <h3><i class="fas fa-shopping-cart"></i> <a href="/productos/carrito/<%= productofinal.id %>">Comprar</a> </h3>
            </button>
          </div>
          <div class="tarjetadeladescripciondelproductoalfinal">
            <img src="../images/tarjetas.PNG" alt="" />
          </div>
        </div>
      </article>
      <div class="producto-article-cont-descripcion-comprar-imagen">
        <img class="metodos" src="/images/tarjetas.PNG" />
      </div>
      <div class = "modificadores">
      <form  id= "jajatecache"action="/productos/borrar/<%= productofinal.id %>?_method=DELETE" class = "jajatecache"method="POST">
        <button type="submit" onclick="confirmacion(event,document.querySelector('#jajatecache'))" class="btn btn-danger ms-2 laAlerta">Eliminar</button>
    </form>
    <div>
      <form action="/productos/modificar/<%= productofinal.id %>" method="get">
    <button type="submit" class="btn btn-danger ms-2 m-auto" style="color:white">Modificar</buttom>
    </form>
    </div>
    </main>
    <%- include('./partials/footer') %> <%- include('./partials/scripts') %>


    <script>
     let formulario = document.querySelector(".jajatecache")
     
      
    
    let confirmacion = (e,formulario) =>{ 
      e.preventDefault()
      
      let respuesta = confirm("Seguro que lo queres borrar?");
      if (!respuesta) {
      return false;
              }else {alert("El producto ah sido completamente eliminado del inventario que poseemos actualmente");
      formulario.submit()}}
    </script>
  </body>
</html>

