<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

      <main>

        <%- include('./partials/carrousel') %>
          <%- include('./partials/menuVentas') %>

            </div>
            <div class="titulogeneral">
              <h2 class="TIENDA">TIENDA</h2>
            </div>


            <section class="categorias">
              <article class="cadacategoria zoom">
                <img src="../images/merchandinsing/Mochila.jpeg" alt="">
                <div class="titulocategoria">
                  <h3>COMICS</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos#COMICS">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>
              <article class="cadacategoria zoom">
                <img src="../images/merchandinsing/Mochila.jpeg" alt="">
                <div class="titulocategoria">
                  <h3>FIGURAS</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos#FIGURAS">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>
              <article class="cadacategoria zoom">
                <img src="../images/merchandinsing/Mochila.jpeg" alt="">
                <div class="titulocategoria">
                  <h3>MERCHANDISING</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos#MERCHANDISING">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>

            </section>







            <div class="titulogeneral">
              <h2 class="TIENDA">DESTACADOS</h2>
            </div>


            <section class="destacados">



              <article class="cadadestacado">
                <a href="/productos"><img src="../images/merchandinsing/Mochila.jpeg" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>
              </article>


              <article class="cadadestacado">
                <a href="/productos"><img src="../images/merchandinsing/Mochila.jpeg" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="../images/merchandinsing/Mochila.jpeg" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>


              </article>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="../images/merchandinsing/Mochila.jpeg" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>

            </section>
            <section class="destacados destacados2">




              <article class="cadadestacado ">
                <a href="/productos"><img src="../images/merchandinsing/Mochila.jpeg" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="../images/merchandinsing/Mochila.jpeg" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="../images/merchandinsing/Mochila.jpeg" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="../images/merchandinsing/Mochila.jpeg" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>

            </section>



            <div class="verdemasproductos zoom">

              <a href="/productos">
                <h2 class="verproductos">Ver mas productos</h2>
              </a>
            </div>



            <div class="titulogeneral">

              <h2 class="TIENDA">OFERTAS</h2>
            </div>

            <section class="destacados">
              <article class="cadadestacado">
                <a href="/productos"><img src="../images/merchandinsing/Mochila.jpeg" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="../images/merchandinsing/Mochila.jpeg" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="../images/merchandinsing/Mochila.jpeg" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>


              </article>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="../images/merchandinsing/Mochila.jpeg" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>

            </section>



      </main>





      <%- include('./partials/footer') %>

        <%- include('./partials/scripts') %>
  </body>

</html>