<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

      <main>

        <%- include('./partials/carrousel') %>
          <%- include('./partials/menuVentas') %>

            </div>
            <div class="titulogeneral">
              <h2 class="TIENDA">TIENDA</h2>
            </div>

            
            
            <section class="categorias"> 
              <% category.forEach(category => { %>
              <article class="cadacategoria zoom">
                <img src="../images/merchandising/comic2.png" alt="">
                <div class="titulocategoria">
                  <h3><%= category.name %> </h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos#<%= category.name %>">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>
              </article>
              <% })%>
            </section>

            <div class="titulogeneral">

              <h2 class="TIENDA">OFERTAS</h2>
            </div>

            <section class="destacados">
            

    
              <% productsDiscount.forEach(product => { %>
                <article class="cadadestacado col-3">
                  <a href="/productos/detail/<%= product.id %>"><img src="/images/merchandising/<%=product.image%>" alt="<%= product.name %> "></a>
                  <div class="titulodestacado">
                    <h3><%= product.name %> </h3>
                    <P><%= product.discount %>% de descuento</P>
                  </div>
    
                </article>
              <% }) %>
          

            </section>



      </main>





      <%- include('./partials/footer') %>

        <%- include('./partials/scripts') %>
  </body>

</html>