<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


<body class="quizz">
    <div class="fondo2"></div>

 
    <%- include('./partials/header') %>


    <div class="productostotales">
        <% mercha.forEach(mercha => { %>
     
        <article class="cadadestacado2">
            <a href="/productos/detail/<%= mercha.id %> "><img  class="cadadestacado2" src="/images/merchandinsing/<%=mercha.imagen%> " alt=""></a>
            <div class="titulodestacado2">
            <h3><%= mercha.nombre %> </h3>
            <P><%= mercha.descripcion %></P>
            </div>

        </article>
    

    <% }) %>
</div> 
             
              









    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>
