<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body class="modificar-producto">
    <h1>Modificar Producto</h1>
    <div class="volver">
      <a href="/productos">
        << Volver a productos</a>
          <a href="/">Ir a Home >></a>
    </div>
    <main class="modificar">
      <form action="/productos/modificar/<%= producto.id %>?_method=PUT" method="POST" class="form" enctype="multipart/form-data">
        <div>
          <label for="nombre">Nombre</label>
          <input type="text" id="nombreProducto" name="nombre" value="<%=locals.old ? old.nombre :  producto.nombre  %>" />
        <% if (locals.errores && errores.nombre) { %>
         <p>  <%=errores.nombre.msg %> </p>
        <% } %>
        </div>
        <div>
          <label for="imagen">Imagen</label>
          <input type="file" name="imagen" id="imagenProducto" />
          <% if (locals.errores && errores.precio) { %>
            <p>  <%=errores.imagen.msg %> </p>
           <% } %>
        </div>
        <div>
          <label for="precioProducto">Precio</label>
          <input type="text" id="precioProducto" name="precio" value="<%=locals.old ? old.precio :  producto.precio  %>" />
          <% if (locals.errores && errores.precio) { %>
           <p>  <%=errores.precio.msg %> </p>
          <% } %>
        </div>
        <div>
          <label for="descripcion">Descripción del producto</label>
          <textarea name="descripcion" id="descripcion" cols="8" rows="3"><%=locals.old ? old.descripcion :  producto.descripcion  %></textarea>
          <% if (locals.errores && errores.descripcion) { %>
           <p>  <%=errores.descripcion.msg %> </p>
          <% } %>
        </div>

        <div class="select">
          <label for="categoria">Categoría</label>
          <select name="categoria" id="categoria">
           <% categorias.forEach(categoria => { %>
              <option value=""<%= categoria %>" <%= categoria == producto.categoria ? 'selected' : null %> ><%= categoria %></option>
           <% }) %> 
               
          </select>
        </div>

        <button type="submit">GUARDAR</button>
      </form>
    </main>
  </body>

</html>