<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

      <main>

        <%- include('./partials/carrousel') %>


          <%- include('./partials/menuVentas') %>

            <div class="titulogeneral tituloproductos">
              <h2 class="TIENDA23"> <a href="#FIGURAS"> FIGURAS</a></h2>
              <h2 class="TIENDA23"><a href="#ROPA"> ROPA</a></h2>
              <h2 class="TIENDA23"><a href="#COMICS"> COMICS</a></h2>
              <h2 class="TIENDA23"><a href="#MERCHANDISING"> MERCHANDISING</a></h2>
            </div>



            <section class="categorias">
              <article class="cadacategoria zoom">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="titulocategoria">
                  <h3>COMICS</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>
              <article class="cadacategoria zoom">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="titulocategoria">
                  <h3>FIGURAS</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>
              <article class="cadacategoria zoom">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="titulocategoria">
                  <h3>MERCHANDISING</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>



            </section>

            <div class="titulogeneral">
              <h2 class="TIENDA " id="FIGURAS"> FIGURAS</h2>
            </div>



            <section class="categorias">
              <article class="cadacategoria zoom">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="titulocategoria">
                  <h3>COMICS</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>
              <article class="cadacategoria zoom">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="titulocategoria">
                  <h3>FIGURAS</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>
              <article class="cadacategoria zoom">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="titulocategoria">
                  <h3>MERCHANDISING</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>



            </section>

            <section class="categorias">
              <article class="cadacategoria zoom">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="titulocategoria">
                  <h3>COMICS</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>
              <article class="cadacategoria zoom">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="titulocategoria">
                  <h3>FIGURAS</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>
              <article class="cadacategoria zoom">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="titulocategoria">
                  <h3>MERCHANDISING</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>



            </section>


            <section class="categorias">
              <article class="cadacategoria zoom">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="titulocategoria">
                  <h3>COMICS</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>
              <article class="cadacategoria zoom">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="titulocategoria">
                  <h3>FIGURAS</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>
              <article class="cadacategoria zoom">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="titulocategoria">
                  <h3>MERCHANDISING</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>



            </section>

            <div class="titulogeneral">
              <h2 class="TIENDA " id="ROPA"> ROPA</h2>
            </div>



            <section class="destacados">




              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/303" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/303" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/303" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>


              </article>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/303" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>

            </section>
            <section class="destacados destacados2">




              <article class="cadadestacado ">
                <a href="/productos"><img src="https://picsum.photos/200/302" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/302" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/302" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/302" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>

            </section>

            <div class="titulogeneral">
              <h2 class="TIENDA " id="COMICS"> COMICS</h2>
            </div>



            <section class="destacados">




              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/303" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/303" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/303" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>


              </article>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/303" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>

            </section>
            <section class="destacados destacados2">




              <article class="cadadestacado ">
                <a href="/productos"><img src="https://picsum.photos/200/302" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/302" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/302" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/302" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>

            </section>


            <div class="titulogeneral">
              <h2 class="TIENDA " id="MERCHANDISING"> MERCHANDISING</h2>
            </div>



            <section class="destacados">




              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/303" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/303" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/303" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>


              </article>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/303" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>

            </section>
            <section class="destacados destacados2">




              <article class="cadadestacado ">
                <a href="/productos"><img src="https://picsum.photos/200/302" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/302" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/302" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>

              </article>
              <article class="cadadestacado">
                <a href="/productos"><img src="https://picsum.photos/200/302" alt=""></a>
                <div class="titulodestacado">
                  <h3>Titulo Producto</h3>
                  <P>Descripcion del producto</P>
                </div>

              </article>

            </section>



      </main>





      <%- include('./partials/footer') %>

        <%- include('./partials/scripts') %>



  </body>

</html>