<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

      <main>

        <%- include('./partials/carrousel') %>


          <%- include('./partials/menuVentas') %>

            <div class="titulogeneral tituloproductos">
              <h2 class="TIENDA23"> <a href="#FIGURAS"> FIGURAS</a></h2>
              <h2 class="TIENDA23"><a href="#ROPA"> ROPA</a></h2>
              <h2 class="TIENDA23"><a href="#COMICS"> COMICS</a></h2>
              <h2 class="TIENDA23"><a href="#MERCHANDISING"> MERCHANDISING</a></h2>
            </div>



            <section class="categorias">
              <article class="cadacategoria zoom">
                <img src="../images/merchandinsing/comic2.png" alt="">
                <div class="titulocategoria">
                  <h3>COMICS</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos/comics">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>
              <article class="cadacategoria zoom">
                <img src="../images/merchandinsing/figura7.jpg" alt="">
                <div class="titulocategoria">
                  <h3>FIGURAS</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos/figuras">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>
              <article class="cadacategoria zoom">
                <img src="../images/merchandinsing/Mochila.jpeg" alt="">
                <div class="titulocategoria">
                  <h3>MERCHANDISING</h3>
                  <P>Emocion en viñetas</P>
                  <div class="vermas">
                    <a href="/productos/merchandising">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>



            </section>

            <div class="titulogeneral">
              <h2 class="TIENDA " id="FIGURAS"> FIGURAS</h2>
            </div>


            <section class="destacados">

             
              
            
              <% for( let index = 0; index < 4; index++ ) { %>
               
             
              <article class="cadadestacado">
                <a href="/productos/detail/<%= figura[index].id %>"><img src="/images/merchandinsing/<%=figura[index].image%> " alt=""></a>
                <div class="titulodestacado">
                  <h3><%= figura[index].title %> </h3>
                  <P><%= figura[index].description %></P>
                </div>

              </article>
              <% } %>
          
             
            </section>
            <section class="destacados destacados2">

              <% for( let index = 4; index < 8; index++ ) { %>
               
             
                <article class="cadadestacado">
                  <a href="/productos/detail/<%= figura[index].id %> "><img src="/images/merchandinsing/<%=figura[index].image%> " alt=""></a>
                  <div class="titulodestacado">
                    <h3><%= figura[index].title %> </h3>
                    <P><%= figura[index].description %></P>
                  </div>
  
                </article>
                <% } %>


            </section>
            
            <div class="verdemasproductos zoom">

              <a href="/productos/figuras">
                <h2 class="verproductos">Ver mas figuras</h2>
              </a>
            </div>



            <div class="titulogeneral">
              <h2 class="TIENDA " id="ROPA"> ROPA</h2>
            </div>


            <section class="destacados">

             
              
            
              <% for( let index = 0; index < 4; index++ ) { %>
               
             
              <article class="cadadestacado">
                <a href="/productos/detail/<%= ropa[index].id %> "><img src="/images/merchandinsing/<%=ropa[index].image%> " alt=""></a>
                <div class="titulodestacado">
                  <h3><%= ropa[index].title %> </h3>
                  <P><%= ropa[index].description %></P>
                </div>

              </article>
              <% } %>
          
             
            </section>
            <section class="destacados destacados2">

              <% for( let index = 4; index < 8; index++ ) { %>
               
             
                <article class="cadadestacado">
                  <a href="/productos/detail/<%= ropa[index].id %> "><img src="/images/merchandinsing/<%=ropa[index].image%> " alt=""></a>
                  <div class="titulodestacado">
                    <h3><%= ropa[index].title %> </h3>
                    <P><%= ropa[index].description %></P>
                  </div>
  
                </article>
                <% } %>


            </section>

            <div class="verdemasproductos zoom">

              <a href="/productos/ropa">
                <h2 class="verproductos">Ver mas ropa</h2>
              </a>
            </div>


            <div class="titulogeneral">
              <h2 class="TIENDA " id="COMICS"> COMICS</h2>
            </div>



            <section class="destacados">

             
              
            
              <% for( let index = 0; index < 4; index++ ) { %>
               
             
              <article class="cadadestacado">
                <a href="/productos/detail/<%= comics[index].id %> "><img src="/images/merchandinsing/<%=comics[index].image%> " alt=""></a>
                <div class="titulodestacado">
                  <h3><%= comics[index].title %> </h3>
                  <P><%= comics[index].description %></P>
                </div>

              </article>
              <% } %>
          
             
            </section>
            <section class="destacados destacados2">

              <% for( let index = 4; index < 8; index++ ) { %>
               
             
                <article class="cadadestacado">
                  <a href="/productos/detail/<%= comics[index].id %> "><img src="/images/merchandinsing/<%=comics[index].image%> " alt=""></a>
                  <div class="titulodestacado">
                    <h3><%= comics[index].title %> </h3>
                    <P><%= comics[index].description%></P>
                  </div>
  
                </article>
                <% } %>


            </section>

            <div class="verdemasproductos zoom">

              <a href="/productos/comics">
                <h2 class="verproductos">Ver mas comics</h2>
              </a>
            </div>



            <div class="titulogeneral">
              <h2 class="TIENDA " id="MERCHANDISING"> MERCHANDISING</h2>
            </div>



            <section class="destacados">

             
              
            
              <% for( let index = 0; index < 4; index++ ) { %>
               
             
              <article class="cadadestacado">
                <a href="/productos/detail/<%= mercha[index].id %> "><img src="/images/merchandinsing/<%=mercha[index].image%> " alt=""></a>
                <div class="titulodestacado">
                  <h3><%= mercha[index].title %> </h3>
                  <P><%= mercha[index].description%></P>
                </div>

              </article>
              <% } %>
          
             
            </section>
            <section class="destacados destacados2">

              <% for( let index = 4; index < 8; index++ ) { %>
               
             
                <article class="cadadestacado">
                  <a href="/productos/detail/<%= mercha[index].id %> "><img src="/images/merchandinsing/<%=mercha[index].image%> " alt=""></a>
                  <div class="titulodestacado">
                    <h3><%= mercha[index].title %> </h3>
                    <P><%= mercha[index].description%></P>
                  </div>
  
                </article>
                <% } %>


            </section>

            <div class="verdemasproductos zoom">

              <a href="/productos/merchandising">
                <h2 class="verproductos">Ver mas merchandising</h2>
              </a>
            </div>



      </main>





      <%- include('./partials/footer') %>

        <%- include('./partials/scripts') %>



  </body>

</html>