<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

    <body class="perfil">
        <%- include('./partials/header') %>
            <div class="register">
                <main class="container mt-5">
                    <div class="card">

                        <div class="row text-center flex-column contenedor">
                            <div class=" col-4">
                                <img class="img-fluid rounded-start avatar-user" src="/images/users/<%= user.avatar %>" alt="avatar">
                            </div>
                            <div class="col-8 mx-auto mt-5">
                                <div class="card-body">
                                    <h5 class="card-title text-center">PERFIL DE USUARIO</h5>
                                    <div class="row" >
                                        <div class="col-12 col-md-6 mb-3">
                                            <label for="exampleInputName" class="form-label">Nombre</label>
                                            <input type="text" readonly class="form-control m-0" id="exampleInputName"
                                                aria-describedby="emailHelp" name="name" value="<%= user.nameUser %>">
                                        
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" name="email" readonly
                                                value="<%= user.email %>">
                                           
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Rol</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" name="email" readonly
                                                value="<%= user.rol %>">
                                           
                                        </div>
                                       
                    
                                    
                                    </div>
                                    <div class="col-12 col-md-6 d-flex justify-content-around w-100">
                                        <a href="/users/modificar" class="btn btn-success">Modificar</a>
                                        <a href="/users/confirmar" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
            </div>
            </div>


            </main>
            </div>
            <%- include('./partials/scripts') %>

    </body>

</html>