<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body class="registro-body">
    <h1 class="titulo">Registro</h1>
    <main class="registro">
      <section class="logo-info">
        <div class="intento"><a href="/users/login">
          <img src="/images/torre.png" alt="logo-torre" /></a>
        </div>
        <div class="info">
          <h4>
            Sumate a nuestra comunidad para poder disfrutar nuestros beneficios
            </h6>
            <div class="p-margin-top">
              <p>Comprar en nuestro sitio</p>
              <p>Enterarte novedades</p>
              <p>Sorteos y Descuentos Exclusivos</p>
              <p>y más...</p>
            </div>
        </div>
      </section>
      <section class="registrarse">
        <form action="" method="POST" class="inputs" enctype="multipart/form-data" novalidate>
          <div>
            <input type="text" id="usuario"  name="nameUser" placeholder="Nombre de usuario" value="<%=locals.old && old.usuario? old.usuario :null %>" />
            <span class="alerta"><%= locals.errors && errors.usuario ? errors.usuario.msg : null %></span>
          </div>

          <div>
            <input type="text" id="nombre"  name="firstName" placeholder="Nombre" value="<%=locals.old && old.nombre? old.nombre :null %>" />
           <span class="alerta"><%= locals.errors && errors.nombre ? errors.nombre.msg : null %></span>
          </div>
          
          <div>
            <input type="email" id="email"  name="email" placeholder="Email" value="<%=locals.old && old.email? old.email :null %>" />
           <span class="alerta"><%= locals.errors && errors.email ? errors.email.msg : null %></span>
          </div>

          <div>
            <input type="password" id="contrasenia"  name="password" placeholder="Contraseña" />
           <span class="alerta"><%= locals.errors && errors.password ? errors.password.msg : null %></span>
          </div>
          <button type="submit" class="btn-registrarse">REGISTRARSE</button>
        </form>
        <h2 class="logueate">
          Si ya tenes Cuenta <br />
          <a href="/users/login">Logueate</a>
        </h2>
      </section>
    </main>
  </body>

</html>