<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body class="registro-body">
    <div>
    <h1 class="titulo">Sumate a nuestra comunidad para poder disfrutar nuestros beneficios</h1>
    <div class="p-margin-top container subtitulo">
      <p>Comprar en nuestro sitio,
      Enterarte novedades,
      Sorteos y Descuentos Exclusivos
      y más...</p>
    </div>
  </div>

    <main class="registro">
      <section class="logo-info">
        <div class="intento"><a href="/users/login">
          <img src="/images/torre.png" alt="logo-torre" /></a>
        </div>
        </div>
      </section>
      <section class="registrarse">
        <form action="" method="POST" class="inputs" enctype="multipart/form-data" novalidate>
          
          <div class="container">
            
          <div >
            <input type="text" id="usuario"  name="nameUser" placeholder="Nombre de usuario" value="<%=locals.old && old.nameUser? old.nameUser :null %>" />
            <span class="alerta"><%= locals.errors && errors.nameUser ? errors.nameUser.msg : null %></span>
          </div>

          <div>
            <input type="text" id="nombre"  name="firstName" placeholder="Nombre" value="<%=locals.old && old.firstName? old.firstName :null %>" />
           <span class="alerta"><%= locals.errors && errors.firstName ? errors.firstName.msg : null %></span>
          </div>
          
          <div>
            <input type="email" id="email"  name="email" placeholder="Email" value="<%=locals.old && old.email? old.email :null %>" />
           <span class="alerta"><%= locals.errors && errors.email ? errors.email.msg : null %></span>
          </div>

          <div>
            <input type="password" id="contrasenia"  name="password" placeholder="Contraseña" />
           <span class="alerta"><%= locals.errors && errors.password ? errors.password.msg : null %></span>
          </div>
        </div>
          <button type="submit" class="btn-registrarse">REGISTRARSE</button>
        </form>
        <h2 class="logueate">
          Si ya tenes Cuenta <br />
          <a href="/users/login">Logueate</a>
        </h2>
      </section>
    </main>
  </body>

</html>